body,
body * {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.col-1 {
  width: 8.3%;
}
.col-2 {
  width: 16.667%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.3%;
}
.col-8 {
  width: 66.6%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.3%;
}
.col-11 {
  width: 91.6%;
}
.col-12 {
  width: 100%;
}

select {
  outline: none;
}
#root {
  min-width: 1300px;
}

p,
button {
  font-size: 14px;
  white-space: nowrap;
}

//CodeMirror

.cm-theme {
  resize: vertical;
  overflow: auto;
}

.cm-editor {
  width: 100%;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 6px;
  outline: none;
}
.cm-lineNumbers {
  font-size: 12px;
}

.cm-content {
  font-size: 13px;
}

textarea::-webkit-scrollbar,
.cm-scroller::-webkit-scrollbar {
  width: 6px;
}
textarea::-webkit-scrollbar-track,
.cm-scroller::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #eeeeee;
}
textarea::-webkit-scrollbar-thumb,
.cm-scroller::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #d3d3d3;
}

.cm-theme:visited .cm-activeLine {
  background-color: #edf4ff !important;
}

.cm-activeLine {
  background-color: transparent !important;
}
